<section class="section">
    <div class="container">
        <br>
        <br>
        <h1>Breadcrumb</h1>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>

        <h3>Examples</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <br>
        <br>


    </div>
</section>





