<section class="section">
    <div class="container">
        <br>
        <br>
        <h1>Buttons</h1>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>

        <h3>Examples</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>

        <button type="button" class="btn btn-link">Link</button>
        <br>
        <br>

        <h3>Outline buttons</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
        <br>
        <br>

        <h3>Sizes</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <p>
            <button type="button" class="btn btn-primary btn-lg">
                Large Primary button
            </button>

            <button type="button" class="btn btn-default btn-lg">
                Large button
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-primary">
                Default size Primary button
            </button>

            <button type="button" class="btn btn-default">
                Default size button
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-sm">
                Small Primary button
            </button>

            <button type="button" class="btn btn-default btn-sm">
                Small button
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-lg btn-block">
                Block level Primary button
            </button>

            <button type="button" class="btn btn-default btn-lg btn-block">
                Block level button
            </button>
        </p>
        <br>
        <br>

        <h3>Active state</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <p>
            <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Normal Primary button</a>
            <a href="#" class="btn btn-primary active" role="button" aria-pressed="true">Active Primary button</a>
        </p>
        <p>
            <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Normal Secondary button</a>
            <a href="#" class="btn btn-secondary active" role="button" aria-pressed="true">Active Secondary button</a>
        </p>
        <br>
        <br>


        <h3>Disable state</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <p>
            <button class="btn btn-primary" role="button" aria-pressed="true">Normal Primary button</button>
            <button class="btn btn-primary active" role="button" aria-pressed="true" disabled>Disabled Primary button</button>
        </p>
        <p>
            <button class="btn btn-secondary" role="button" aria-pressed="true">Normal Secondary button</button>
            <button class="btn btn-secondary active" role="button" aria-pressed="true" disabled>Disabled Secondary button</button>
        </p>
        <br>
        <br>

        <h3>Toggle states</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Toggle
        </button>
        <br><br>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="checkbox" checked autocomplete="off"> Checked
            </label>
        </div>
        <br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Radio
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Radio
            </label>
        </div>
        <br>
        <br>

        <h3>Button group</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Left</button>
            <button type="button" class="btn btn-secondary">Middle</button>
            <button type="button" class="btn btn-secondary">Right</button>
        </div>
        <br>
        <br>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
                <button type="button" class="btn btn-secondary">4</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">5</button>
                <button type="button" class="btn btn-secondary">6</button>
                <button type="button" class="btn btn-secondary">7</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">8</button>
            </div>
        </div>
        <br>
        <br>

        <h4>Sizing</h4>
        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <button type="button" class="btn btn-secondary">Left</button>
            <button type="button" class="btn btn-secondary">Middle</button>
            <button type="button" class="btn btn-secondary">Right</button>
        </div>
        <br>
        <br>


        <h4>Nesting</h4>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
            </div>
        </div>
        <br>
        <br>

        <h4>Vertical variation</h4>
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button type="button" class="btn btn-secondary">Button</button>
            <button type="button" class="btn btn-secondary">Button</button>
            <div class="btn-group" role="group">
                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start"
                     style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
            </div>
            <button type="button" class="btn btn-secondary">Button</button>
            <button type="button" class="btn btn-secondary">Button</button>
            <div class="btn-group" role="group">
                <button id="btnGroupVerticalDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2" x-placement="bottom-start"
                     style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupVerticalDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop3">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupVerticalDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop4">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
            </div>
        </div>
        <br>
        <br>

    </div>
</section>





