<section class="section">
    <div class="container">
        <br>
        <br>
        <h1>Typography</h1>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>

        <h3>Headings, <code class="highlighter-rouge">&lt;h1&gt;</code> through <code class="highlighter-rouge">&lt;h6&gt;</code>.</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <br>
        <br>

        <h3>Customizing headings</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <h3>
            Fancy display heading
            <small class="text-muted">With faded secondary text</small>
        </h3>

        <h3>Display headings</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <h1 class="display-1">Display 1</h1>
        <h1 class="display-2">Display 2</h1>
        <h1 class="display-3">Display 3</h1>
        <h1 class="display-4">Display 4</h1>
        <br>
        <br>

        <h3>Lead</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
        <br>
        <br>


        <h3>Text</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum suscipit velit, ac faucibus metus blandit nec. Vestibulum ac vulputate
            enim. Duis imperdiet congue diam, ornare lacinia lacus suscipit eget. Vestibulum rhoncus ante eget lorem tempus, id congue justo scelerisque.
            Quisque nec consequat orci, ut venenatis leo. Vestibulum ultrices sit amet erat ut scelerisque. Mauris tempus tempor pretium. Vivamus ultrices
            congue nisl pretium facilisis.
        </p>
        <p>
            Suspendisse potenti. Duis nibh libero, tincidunt et aliquam id, pretium vel elit. Vestibulum et eleifend risus. Cras pharetra nisi felis, in
            pulvinar mauris imperdiet a. Curabitur porttitor purus sit amet nisl viverra rutrum. Vivamus sed mattis magna. Fusce massa arcu, ultrices et
            ultricies sed, molestie laoreet urna. Fusce scelerisque vel ipsum sit amet tristique. Mauris sapien turpis, iaculis id vehicula non, tempus vel
            nulla. Aenean sit amet nisi iaculis, scelerisque velit quis, egestas urna.
        </p>
        <p>
            Duis vitae semper augue. Donec eget purus cursus mauris gravida fermentum in et lorem. Nullam non augue lacinia, lacinia nunc aliquam, convallis
            mauris. Ut vitae massa nec arcu fermentum fermentum ut ac purus. Aenean interdum venenatis velit vel ornare. Phasellus tempus tellus eget elit
            porttitor, id cursus turpis tincidunt. Proin eu mollis felis, nec accumsan ipsum. Aliquam vitae tellus tristique, dignissim turpis et, tempus
            libero. Cras ac mi eu ligula posuere blandit sit amet sed nunc. Etiam pellentesque orci ut nunc cursus venenatis. Donec elementum finibus lacus,
            dictum aliquam mauris varius ornare.
        </p>
        <br>

        <h4>Justify</h4>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <p class="text-justify">
            Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate
            felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius
            Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.
        </p>


        <br>
        <br>

        <h3>Inline text elements</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <p>You can use the mark tag to
            <mark>highlight</mark>
            text.
        </p>
        <p>
            <del>This line of text is meant to be treated as deleted text.</del>
        </p>
        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
        <p>
            <ins>This line of text is meant to be treated as an addition to the document.</ins>
        </p>
        <p><u>This line of text will render as underlined</u></p>
        <p>
            <small>This line of text is meant to be treated as fine print.</small>
        </p>
        <p><strong>This line rendered as bold text.</strong></p>
        <p><em>This line rendered as italicized text.</em></p>
        <br>
        <br>

        <h3>Abbreviations</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <p><abbr title="attribute">attr</abbr></p>
        <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
        <br>
        <br>

        <h3>Blockquotes</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <blockquote class="blockquote text-right">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <br>
        <br>

        <h3>Lists</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>

        <h4>Unstyled</h4>
        <ul class="list-unstyled">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
                <ul>
                    <li>Phasellus iaculis neque</li>
                    <li>Purus sodales ultricies</li>
                    <li>Vestibulum laoreet porttitor sem</li>
                    <li>Ac tristique libero volutpat at</li>
                </ul>
            </li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
        </ul>

        <h4>Inline</h4>
        <ul class="list-inline">
            <li class="list-inline-item">Lorem ipsum</li>
            <li class="list-inline-item">Phasellus iaculis</li>
            <li class="list-inline-item">Nulla volutpat</li>
        </ul>
        <br>
        <br>

        <h3>Colors</h3>
        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <h4> Text color:</h4>

        <p class="text-primary">.text-primary</p>
        <p class="text-secondary">.text-secondary</p>
        <p class="text-success">.text-success</p>
        <p class="text-danger">.text-danger</p>
        <p class="text-warning">.text-warning</p>
        <p class="text-info">.text-info</p>
        <p class="text-light bg-dark">.text-light</p>
        <p class="text-dark">.text-dark</p>
        <p class="text-body">.text-body</p>
        <p class="text-muted">.text-muted</p>
        <p class="text-white bg-dark">.text-white</p>
        <p class="text-black-50">.text-black-50</p>
        <p class="text-white-50 bg-dark">.text-white-50</p>
        <br>

        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <h4> Link colors:</h4>

        <p><a href="#" class="text-primary">Primary link</a></p>
        <p><a href="#" class="text-secondary">Secondary link</a></p>
        <p><a href="#" class="text-success">Success link</a></p>
        <p><a href="#" class="text-danger">Danger link</a></p>
        <p><a href="#" class="text-warning">Warning link</a></p>
        <p><a href="#" class="text-info">Info link</a></p>
        <p><a href="#" class="text-light bg-dark">Light link</a></p>
        <p><a href="#" class="text-dark">Dark link</a></p>
        <p><a href="#" class="text-muted">Muted link</a></p>
        <p><a href="#" class="text-white bg-dark">White link</a></p>
        <br>

        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>
        <h4> Background color:</h4>

        <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
        <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
        <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
        <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
        <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
        <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
        <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
        <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
        <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
        <div class="p-3 mb-2 bg-transparent text-dark">.bg-transparent</div>
        <br>

        <hr><!------------------------------------------------------------------------------------------------------------------------------------------------>


    </div>
</section>





