<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p class="text-uppercase footer-title">Help center</p>
                <ul class="list-unstyled company-sub-menu">
                    <li><a href="#">Accounting </a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">General Question</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <p class="text-uppercase footer-title">about Linexon</p>
                <ul class="list-unstyled company-sub-menu">
                    <li><a href="#">About Us </a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Job Opening</a></li>
                    <li><a href="#">Term</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <p class="text-uppercase footer-title">ressources</p>
                <ul class="list-unstyled company-sub-menu">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Academy </a></li>
                    <li><a href="#">Video Tutorial</a></li>
                    <li><a href="#">Monitoring Grader </a></li>
                    <li><a href="#">Linexon API</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <p class="text-uppercase footer-title">more info</p>
                <ul class="list-unstyled company-sub-menu">
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">For Marketing</a></li>
                    <li><a href="#">For CEOs </a></li>
                    <li><a href="#">For Agencies</a></li>
                    <li><a href="#">Our Apps</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p class="text-uppercase footer-title">Contact Us</p>
                <div class="contact-us">
                    <p>Europe: +1 00 12 34 5</p>
                    <p>US: +1 67 89 01 23 4</p>
                    <p>support@example.com</p>
                </div>
                <ul class="footer-icons list-inline mt-4">
                    <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-apple"></i></a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-alt bg-dark">
        <p class="text-center text-light">2018 © Pudim theme by <a href="https://myog.io">MyOG</a> </p>
    </div>
</footer>
