







$blue: rgb(10, 113, 226);
$indigo: rgb(68, 4, 173);
$purple: rgb(146, 110, 219);
$pink: rgb(247, 115, 176);
$orange: rgb(250, 133, 22);
$yellow: rgb(250, 211, 11);
$green: rgb(33, 182, 68);
$teal: rgb(33, 218, 164);
$cyan: rgb(31, 197, 241);

$white: #fff;

$secondary: $orange;

$red: rgb(243, 52, 12);

$gray-100: #f8f8f8;

$gray-900: rgb(43, 43, 43);
$gray-800: rgb(65, 65, 65);
$gray-700: rgb(92, 92, 92);
$gray-600: rgb(124, 124, 124);
$gray-500: rgb(189, 189, 189);
$gray-400: rgb(218, 218, 218);
$gray-300: rgb(231, 231, 231);
$gray-200: rgb(241, 241, 241);

$grid-gutter-width: 32px;

$font-family-sans-serif: Roboto, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

$font-size-base: 1rem;

$small-font-size: 75%;

$mark-bg: rgb(255, 248, 219);

$input-btn-padding-y: 0.5rem;

$btn-disabled-opacity: 0.8;

$black: #000;

$btn-active-box-shadow: inset 0 3px 5px rgba($black, .30);